.bgDark {
    background-color: #2c3034 !important;
    color: white !important;
}
.cardWidth {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}
.leftTextAlign {
    text-align: left;
}